
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* DIMENSIONS */

.container{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}

body{
    background: #141922;
}

.sidebar{
    display: inline-block;
    height: calc(100vh - 100px);
    width: 200px;
    background-color: black;
}

.sideinfo{
    width: 150px;
}

.sideinfo p{
    color: white;
}

.upgrade{
    display: flex;
    align-items: center;
    justify-content: right;
    float: right;
    width: calc(100% - 200px);
    height: 100px;
    background-color: #080B12;
}

footer{
    display: inline-block;
    height: 100px;
    width: 100%;
    background: #282828;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    margin: 20px;
    width: 150px;
    height: 25px;
}

.area{
    width: 25%;
    height: 50%;
    background: white;
}

.left{}

.center{
    display: flex;
    font-size: 12px;
    justify-content: space-around;
}

.playing{
    display: flex;
    align-items: flex-end;
}

.progress{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 430px;
    height: 16px;
}

.bar{
    display: flex;
    background-color: #B4B4B4;
    border-radius: 3px;
    width: 400px;
    height: 3px;
}


.right{}

/* BUTTONS */

.button{
    background-color: black; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.upbutton{
    background-color: #080B12;
    border: white 1px solid;
    border-radius: 25px;
    transition: .5s;
}

.upbutton:hover{
    background: white;
    transition: .5s;
    color: #080B12 ;
}







/* IMAGES */

.logo img{
    width: 50px;
    height: 50px;
}