
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* DIMENSIONS */

.container{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}

main{
    display: flex;
    flex-direction: column;
    width: calc(100% - 250px);
    height: calc(100% - 200px);
    background-color:#141922;
}

div.mainscroll{
    overflow-y: auto;
}

div.mainscroll::-webkit-scrollbar{
    width: 5px;
}

div.mainscroll::-webkit-scrollbar-track{
    background: #141922;
}

div.mainscroll::-webkit-scrollbar-thumb{
    border-radius: 20px;
    border: 3px solid rgba(211, 211, 211, 0.651)
}

div.mainscroll::-webkit-scrollbar-thumb:hover{
    background: #555;
}

.mainscroll{
    color: lightgray;
}

.mainscroll, h2 h3{
    color: white;
}

.mini-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    width: calc(100% - 40px);
    height: 50px;
    background-color: #141922;

}

.recplayed{
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    width: calc(100% - 40px);
    height: 320px;
    background-color:#141922;
}

.artist{
    font-size: 16px;
    color: lightgray;
    margin-top: 5px;
}

.covers{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    width: 100%;
    height: 100%;
    background-color:#141922;
}

div.covers:first-of-type{
    overflow-x: auto;
}

div.covers::-webkit-scrollbar{
    height: 8px;
}

div.covers::-webkit-scrollbar-track{
    background: #141922;
}

div.covers::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: rgba(211, 211, 211, 0.651);
}

div.covers::-webkit-scrollbar-thumb:hover{
    background: #555;
}


.mix{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    width: 100%;
    height: 100%;
    background-color:#141922;
}


.album img{
    margin: 10px;
    width: 150px;
    height: 150px;
}

.album h3{
    font-size: 18px;
    text-align: center;
    margin-top: 0px;
}

.album p{
    font-size: 12px;
    color: lightgray;
    text-align: center;
}

.popular{
    margin-top: 5px;
}

.minitems a{
    padding: 20px;
}


.sidebar{
    display: inline-block;
    height: calc(100vh - 100px);
    float: left;
    width: 250px;
    background-color: black;
}

.sideinfo{
    width: 200px;
    color: lightgray;
}

.sideinfo p{
    color: white;
    margin: 10px;
}
.personalinfo{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 30px;
}

.home, .search, .library{
    color: white;
    margin-top: 10px;
}

.playlist{
    width: 250px;
    margin-top: 15px;
    margin-left: 0px;
    padding-left: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    color: white;
}

b .playlist{
    padding-left: 20px;
}

.add-playlist{
    display: flex;
    color: lightgray;
    align-items: flex-start;
    flex-direction: column;
    width: 250px;
    margin-left: 0px;
    padding-left: 0px;
}

.playlistbutton{
    padding-left: 0px;
}

.playlistnames{
    width: 100%;
    padding: 15px;
}

.playlistnames div{
    padding-left: 0px;
    padding-top: 15px;
}

div.playlistnames{
    margin-top: 20px;
    width: 250px;
    height: 400px;
    overflow-y: auto;
}

div.playlistnames::-webkit-scrollbar{
    width: 5px;
    padding-right: 5px;
}

div.playlistnames::-webkit-scrollbar-track{
    background: black;
}

div.playlistnames::-webkit-scrollbar-thumb{
    border-radius: 20px;
    border: 3px solid rgba(211, 211, 211, 0.651)
}

div.playlistnames::-webkit-scrollbar-thumb:hover{
    background: #555;
}



.username{
    margin-top: 8px;
    color: lightgray;
    margin-left: 20px;
}

.username hr{
    margin-top: 0px;
}

.username div{
    margin-top: 8px;
}


.fas{
    padding-right: 10px;
}

.upgrade{
    display: flex;
    align-items: center;
    justify-content: right;
    float: right;
    width: calc(100% - 250px);
    height: 100px;
    background-color: #080B12;
}

footer{
    display: inline-block;
    height: 100px;
    width: 100%;
    background: #282828;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo{
    font-size: 30px;
    margin: 20px;
    width: 150px;
    height: 25px;
    display: flex;
    align-items: center;
}

.logo p{
    margin-top: 20px;
}


.logo img{
    display: flex;
    float: left;
    padding-top: 10px;
}

.area{
    width: 25%;
    height: 80px;
    background: #282828;
}

.left{
    display: flex;
    align-items: center;
}

.left img{
    margin: 10px;
    width: 50px;
    height: 50px;
}

.infosong{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 300px;
}

.infosong p:first-child{
    font-weight: bold;
    color: white;
}

.infosong p:last-child{
    font-size: 10px;
    color: lightgray;
}

.favortes, i{
    margin: 5px;
}

.center{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    justify-content: space-around;
}

.playing{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: white;
}

.playing p{
    margin-left: 10px;
    margin-right: 10px;
}

.playerbutton{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: #282828;
}

.pbuttons, i{
    color: white;
}


.progress{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 430px;
    height: 16px;
}

.bar{
    display: flex;
    background-color: #B4B4B4;
    border-radius: 3px;
    width: 400px;
    height: 3px;
}


.right{
    display: flex;
    align-items: center;
}

.volumebar{
    display: flex;
    background-color: #B4B4B4;
    border-radius: 3px;
    width: 350px;
    height: 3px;
}

.bn2b{
    display: flex;
    background-color: white;
    width: 80px;
}

.bn3b{
    display: flex;
    background-color: white;
    width: 200px;
}




/* BUTTONS */

.button{
    background-color: black; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.upbutton{
    background-color: #080B12;
    border: white 1px solid;
    border-radius: 25px;
    padding: 13px;
    font-size: 13px;
    transition: .5s;
    margin-right: 20px;
}

.upbutton:hover{
    background: white;
    transition: .5s;
    color: #080B12 ;
}

.minitems a{
    font-size: 14px;
    color: lightgray;
    text-decoration: none;
    transition: .5s;
}

.minitems a:hover{
    font-size: 16px;
    padding-bottom: 10px;
    font-weight: bold;
    border-bottom: green 3px solid;
    color: white;
    transition: .5s;
}

.album img{
    transition: .5s;
}

.album img:hover{
    transition: .5s;
    filter: opacity(.7);
}

.popular img:hover{
    transition: .5s;
    filter: opacity(.7);
    border-radius: 50%;
}

.sidebutton{
    background: black;
    color: lightgray;
    transition: .5s;
    padding: 5px;
    padding-left: 20px;
    width: 100%;
}

.sidebutton:hover{
    width: 200px;
    font-size: 20px;
    font-weight: bold;
    transition: .5s;
    border-left: green 5px solid;
    color: white;
}

.playlistbutton{
    background: black;
    color: lightgray;
    padding-top: 20px;
    font-size: 16px;
    text-decoration: none;
    padding-left: 20px;
    margin-left: 0px;
    transition: .5s;
}

.playlistbutton:hover{
    width: 250px;
    font-size: 20px;
    font-weight: bold;
    transition: .5s;
    color: white;
}

.playlistnames div:hover{
    font-weight: bold;
    color: white;
    transition: .2s;
}

.john{
    background: black;
    color: lightgray;
    transition: .5s;
    padding: 2px;
    width: 100%;
    text-decoration: none;
}

.john:hover{
    color: white;
    font-weight: bold;
    transition: .5s;
}

.fas:hover{
    opacity: (.7);
}

/* IMAGES */

.logo img{
    width: 50px;
    height: 50px;
}



@media screen and (max-width: 000px) {
    /* code */
}